# Infrastructure kustomization
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - helm-release.yaml
  - helm-repository.yaml
  - namespace.yaml

namespace: vault-secrets-operator-system

configMapGenerator:
  - name: values
    files:
      - values.yaml=values-override.yaml

# Teach kustomize how to update generated names
configurations:
  - kustomizeconfig.yaml
