# Prepare resources for Vault Secrets Operator
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - vault-auth-global.yaml
  - crb-sa-vault-tokenauth.yaml

namespace: vault-secrets-operator-system
