apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: apps-shared-db-credentials
spec:
  type: kv-v2
  vaultAuthRef: cnpg-vault-auth
  refreshAfter: 6h
  mount: apps

  # path is prefixed by `{appName}/{environment}/`; double // required
  path: shared/db-credentials
  destination:
    name: apps-shared-db-credentials
    create: true
    type: Opaque
    transformation:
      excludes: [".*"]
      templates:
        username: { text: '{{ get .Secrets "username" }}' }
        password: { text: '{{ get .Secrets "password" }}' }
