# Kustomization for `latest` environment
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- includeSelectors: true
  pairs:
    environment: latest

resources:
  - 0-vault-secrets-operator.yaml
  - 1-tailscale.yaml
  # - 2-flux-extra.yaml
  - 3-longhorn.yaml
  # - 4-cloudnative-pg.yaml
  # - 5-apps.yaml

# For testing only
#   - ../../../apps
# - ../../../infrastructure
# #
# components:
#   - ../../../components/env-latest

patches:

  - target:
      kind: Kustomization
    patch: |-
      - op: add
        path: /spec/components
        value:
          - ../../../components/env-latest

  # Add the environment label to all resources in the Helm chart
  - target:
      kind: HelmRelease
    patch: |-
      - op: add
        path: /spec/postRenderers
        value:
          - kustomize:
              patches:
                - target:
                    kind: .*
                  patch: |
                    apiVersion: v1
                    kind: ConfigMap   # placeholder; not used
                    metadata:
                      name: placeholder
                      labels:
                        environment: latest

  # Remove all stable resources (this env should only emit latest resources)
  #   - delete patch taken from https://github.com/kubernetes-sigs/kustomize/issues/1593
  - target:
      name: ingress-stable
    patch: |
      $patch: delete
      kind: Ingress
      metadata:
        name: DOES NOT MATTER





