# Apply environment-specific replacements
# - https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/
---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  # Remove all "latest" and "web" resources (this env should only emit "stable" resources)
  #   - delete patch taken from https://github.com/kubernetes-sigs/kustomize/issues/1593
  - target:
      name: star-latest-ltc-bcit-ca
    patch: |
      $patch: delete
      kind: VaultStaticSecret
      metadata:
        name: DOES NOT MATTER
  - target:
      name: star-web-ltc-bcit-ca
    patch: |
      $patch: delete
      kind: VaultStaticSecret
      metadata:
        name: DOES NOT MATTER
  - target:
      name: ingress-env
    patch: |
      $patch: delete
      kind: Ingress
      metadata:
        name: DOES NOT MATTER

replacements:
  - sourceValue: "stable"
    targets:
      # Add the environment to Vault default auth
      - select:
          kind: VaultAuthGlobal
        fieldPaths:
          - spec.kubernetes.mount
        options:
          delimiter: "-"
          index: 99
      - select:
          kind: VaultAuthGlobal
        fieldPaths:
          - spec.kubernetes.audiences.0

      # Replace the secrets's environment placeholder with the correct path
      # - path should match {appName}/{environment}/{secretName}
      - select:
          kind: VaultStaticSecret
          annotationSelector: config.fluxcd.io/app-secret=true
        fieldPaths:
          - spec.path
        options:
          delimiter: "/"
          index: 1
        # reject:
        #   - name: star-ltc-bcit-ca
        #   - name: star-latest-ltc-bcit-ca
        #   - name: star-web-ltc-bcit-ca
        #   - name: github-webhook-token
        #   - name: github-private-repo-token
        #   - name: gh-private-oci-token
        #   - name: longhorn-azblob-credentials
        #   # - name: apps-shared-db-credentials

      # Add the environment to VaultDynamicSecrets configs
      - select:
          kind: VaultDynamicSecret
          name: db-credentials
        fieldPaths:
          - spec.mount
          - spec.path
          # - metadata.annotations.app/db-host
        options:
          delimiter: "-"
          index: 2

      # Add the environment to Longhorn HelmRelease value override
      - select:
          kind: HelmRelease
          name: longhorn
        fieldPaths:
          - spec.values.defaultBackupStore.backupTarget
        options:
          delimiter: "/"
          index: 3
