# Apply environment-specific replacements
# - https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/
---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

# patches:

#   - target:
#       kind: OCIRepository
#       annotationSelector: "config.fluxcd.io/workload-type=app"
#     patch: |-
#       - op: replace
#         path: /spec/ref
#         value: {"tag": "latest"}

replacements:
  - sourceValue: "latest"
    targets:

      # Add the environment to global auth
      - select:
          kind: VaultAuthGlobal
        fieldPaths:
          - spec.kubernetes.mount
        options:
          delimiter: "-"
          index: 99
      - select:
          kind: VaultAuthGlobal
        fieldPaths:
          - spec.kubernetes.audiences.0

      # Configure tailscale
      - select:
          kind: VaultAuth
          name: tailscale-operator-vault-auth
        fieldPaths:
          - spec.kubernetes.role
        options:
          delimiter: "-"
          index: 99
      - select:
          name: values
          namespace: tailscale
        fieldPaths:
          - data.[values.yaml].operatorConfig.hostname

      # Replace the secrets's environment placeholder with the correct path
      # - path should match {appName}/{environment}/{secretName}
      - select:
          kind: VaultStaticSecret
        fieldPaths:
          - spec.path
        options:
          delimiter: "/"
          index: 1
        reject:
          - name: star-latest-ltc-bcit-ca
          - name: vault-manager-secret
          - name: github-webhook-token
          - name: github-private-repo-token
          - name: gh-private-oci-token
          - name: tailscale-oauth

      # # Add the environment as a suffix to the global auth name
      # - select:
      #     kind: VaultAuth
      #   fieldPaths:
      #     - spec.vaultAuthGlobalRef.name
      #   options:
      #     delimiter: "-"
      #     index: 99

      # Add the environment as a suffix to the postgres auth name
      - select:
          kind: VaultAuth
          name: postgres-vault-auth
        fieldPaths:
          - spec.kubernetes.serviceAccount
        options:
          delimiter: "-"
          index: 99

      # Update oci repository ref selection to target latest chart images
      - select:
          kind: OCIRepository
          annotationSelector: "config.fluxcd.io/workload-type=app"
        fieldPaths:
          - spec.ref.tag

      # Add the environment as a suffix to the postgres database
      - select:
          kind: Database
        fieldPaths:
          - spec.cluster.name
        options:
          delimiter: "-"
          index: 99

      # Add the environment to VaultDynamicSecrets configs
      - select:
          kind: VaultDynamicSecret
          name: db-credentials
        fieldPaths:
          - spec.mount
          - spec.path
          # - metadata.annotations.app/db-host
        options:
          delimiter: "-"
          index: 2

      # Replace the placeholder environment in the postgres GRANT_PRIVILEGES job
      - select:
          kind: Job
        fieldPaths:
          - spec.template.spec.containers.0.env.[name=PGHOST].value
          - spec.template.spec.containers.0.env.[name=PGUSER].valueFrom.secretKeyRef.name
          - spec.template.spec.containers.0.env.[name=PGPASSWORD].valueFrom.secretKeyRef.name
        options:
          delimiter: "-"
          index: 2

      # Replace the placeholder environment in the postgres INIT_DB job configMap name
      - select:
          kind: Job
        fieldPaths:
          - spec.template.spec.volumes.[name=sql].configMap.name
        options:
          delimiter: "-"
          index: 99

      # # Add the environment as a prefix to the ingress host
      # - select:
      #     kind: Ingress
      #   fieldPaths:
      #     - spec.rules.0.host
      #     - spec.tls.0.hosts.0
      #   options:
      #     delimiter: "."
      #     index: 1

      # # Ensure the serviceaccount name matches the release name
      # - select:
      #     kind: VaultAuth
      #   fieldPaths:
      #     - spec.kubernetes.serviceAccount

      # Patches Fluxcd "GitLab Webhook" ingress to facilitate reconciliation
      - select:
          kind: Ingress
          annotationSelector: "app=flux"
        fieldPaths:
          - spec.rules.0.host
          - spec.tls.0.hosts.0
        options:
          delimiter: "."
          index: 1
      - select:
          kind: Ingress
        fieldPaths:
          - spec.tls.0.secretName
        options:
          delimiter: "-"
          index: 2

