# Apply environment-specific replacements
# - https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/replacements/
---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:

  # Patch with environment-specific values
  - target:
      kind: VaultAuth
    patch: |-
      - op: replace
        path: /spec/mount
        value: kubernetes-latest
      - op: replace
        path: /spec/kubernetes/audiences
        value: [latest]

  - target:
      kind: HelmRelease
      name: tailscale-operator
    patch: |-
      - op: replace
        path: /spec/values/operatorConfig/hostname
        value: tailscale-operator-latest

  # Patches Fluxcd "GitLab Webhook" ingress to facilitate reconciliation
  - target:
      kind: Ingress
      annotationSelector: "app=flux"
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: flux.latest.ltc.bcit.ca
      - op: replace
        path: /spec/tls/0/hosts/0
        value: flux.latest.ltc.bcit.ca

  # Update oci repository ref selection to target latest chart images
  - target:
      kind: OCIRepository
      annotationSelector: "config.fluxcd.io/workload-type=app"
    patch: |-
      - op: replace
        path: /spec/ref
        value: {"tag": "latest"}

  - target:
      kind: Ingress
    patch: |
      - op: replace
        path: /spec/tls/0/secretName
        value: star-latest-ltc-bcit-ca

# Generate a re-usable environment variable for other resources
configMapGenerator:
  - name: flux-env
    literals:
      - fluxEnv="latest"

    # This config resource is not added to the cluster
    options:
      annotations:
        config.kubernetes.io/local-config: "true"

replacements:
  - source:
      kind: ConfigMap
      name: flux-env
      fieldPath: data.fluxEnv
    targets:

      # Replace the secrets's environment placeholder with the correct path
      # - path should match {appName}/{environment}/{secretName}
      - select:
          kind: VaultStaticSecret
        fieldPaths:
          - spec.path
        options:
          delimiter: "/"
          index: 1
        reject:
          - name: star-latest-ltc-bcit-ca
          - name: vault-manager-secret
          - name: github-webhook-token
          - name: github-private-repo-token
          - name: gh-private-oci-token
          - name: tailscale-oauth

      # Add the environment as a suffix to the default connection
      # - select:
      #     kind: VaultAuthGlobal
      #   fieldPaths:
      #     - spec.vaultConnectionRef
      #   options:
      #     delimiter: "-"
      #     index: 99

      # # Add the environment as a suffix to the global auth name
      # - select:
      #     kind: VaultAuth
      #   fieldPaths:
      #     - spec.vaultAuthGlobalRef.name
      #   options:
      #     delimiter: "-"
      #     index: 99

      # Add the environment as a suffix to the postgres auth name
      - select:
          kind: VaultAuth
          name: postgres-vault-auth
        fieldPaths:
          - spec.kubernetes.serviceAccount
        options:
          delimiter: "-"
          index: 99

      # Add the environment as a suffix to the postgres database
      - select:
          kind: Database
        fieldPaths:
          - spec.cluster.name
        options:
          delimiter: "-"
          index: 99

      # Add the environment to VaultDynamicSecrets configs
      - select:
          kind: VaultDynamicSecret
          name: db-credentials
        fieldPaths:
          - spec.mount
          - spec.path
          # - metadata.annotations.app/db-host
        options:
          delimiter: "-"
          index: 2

      # Replace the placeholder environment in the postgres GRANT_PRIVILEGES job
      - select:
          kind: Job
        fieldPaths:
          - spec.template.spec.containers.0.env.[name=PGHOST].value
          - spec.template.spec.containers.0.env.[name=PGUSER].valueFrom.secretKeyRef.name
          - spec.template.spec.containers.0.env.[name=PGPASSWORD].valueFrom.secretKeyRef.name
        options:
          delimiter: "-"
          index: 2

      # Replace the placeholder environment in the postgres INIT_DB job configMap name
      - select:
          kind: Job
        fieldPaths:
          - spec.template.spec.volumes.[name=sql].configMap.name
        options:
          delimiter: "-"
          index: 99

      # Add the environment as a prefix to the ingress host
      - select:
          kind: Ingress
        fieldPaths:
          - spec.rules.0.host
          - spec.tls.0.hosts.0
        options:
          delimiter: "."
          index: 1

      # Update Tailscale's secret path
      # - path should match {appName}/{environment}/{secretName}
      - select:
          kind: VaultAuth
          name: tailscale-operator-vault-auth
        fieldPaths:
          - spec.kubernetes.role
        options:
          delimiter: "-"
          index: 99

      # # Ensure the serviceaccount name matches the release name
      # - select:
      #     kind: VaultAuth
      #   fieldPaths:
      #     - spec.kubernetes.serviceAccount