apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - service-account.yaml
  - storage-resource-quota.yaml

# Prefix all resources with this name
namePrefix: flux-

# Replace base Namespace name and add all resources to this namespace
namespace: flux-system

# Teach kustomize how to update generated names
configurations:
  - kustomizeconfig.yaml

# Order matters!
components:
  # Add TLS certificates for ingress
  - ../../../components/ssl-star-ltc-bcit-ca

  # Add Vault authentication (role)
  - ../../../components/vault-auth

  # Configure an ingress
  - ../../../components/ingress

# Adjust ingress with notification webhook details
patches:
  - target:
      kind: Ingress
    patch: |-
      - op: replace
        path: /spec
        value:
          tls:
          - hosts:
              - flux.ltc.bcit.ca
            secretName: star-ltc-bcit-ca
          rules:
          - host: flux.ltc.bcit.ca
            http:
              paths:
              - pathType: Prefix
                path: /
                backend:
                  service:
                    name: webhook-receiver
                    port:
                      number: 80
