apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - service-account.yaml
  - storage-resource-quota.yaml
  - webhook-ingress.yaml
  # - clear-terminating-pods.yaml
  # - vault-token-renewal.yaml

# Prefix all resources with this name
namePrefix: flux-

# Replace base Namespace name and add all resources to this namespace
namespace: flux-system

# Generate a re-usable name variable for other resources
configMapGenerator:
  - name: release-name
    literals:
      - releaseName="flux"

    # Resource is not added to the cluster
    options:
      annotations:
        config.kubernetes.io/local-config: "true"

# Teach kustomize how to update generated names
configurations:
  - kustomizeconfig.yaml

# Order matters!
components:

  # Add TLS certificates for ingress
  - ../../../components/ssl-star-latest-ltc-bcit-ca
  - ../../../components/ssl-star-ltc-bcit-ca

  # Add Vault authentication (role)
  - ../../../components/vault-auth

