# Deploys Ingress resources
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-env
spec:
  rules:
    - host: app.env.ltc.bcit.ca
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: app
                port:
                  number: 8080
